@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #F8F3D9;
    font-family: "Joan", serif;
}

.cabecalho
{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #B9B28A;
    padding:15px 40px;
    gap: 150px;
    
}

.logo
{
    font-size:45px;
    font-weight: bold;
    font-family: "Joan", serif;
    margin: 0;
    padding: 0;
}

.logo a
{
    color: black;
    text-decoration: none;
}

.menu
{
    display: flex;
    gap: 70px;
}

.link
{
    font-size: 30px;
    text-decoration: none;
    font-weight: 500;
    font-family: "Joan", serif;
    color:black;
}

.texto{
    text-align: center;
    font-family: "Joan", serif;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.texto_simples{
    font-family: "Joan", serif;
    font-size: 20px;
}

strong{
    color:#FFCD10
}

textarea {
    height: 120px;
    width: 40%;
    font-size: 18px;
    font-family: "Joan", serif;
}

.btn{
    background: #B9B28A;
    font-family: "Joan", serif;
    font-size: 15px;
    border: none;
    border-radius: 15px;
    cursor:pointer;
    width: 150px;
    height: 50px;
    margin-top: 15px;
}

.avaliacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

input {
    appearance: none;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    border: 2px solid #999999;
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
    top: 4px;
    cursor:pointer;
}

input:checked {
    border: 6px solid #FFCD10;
}

label {
    margin-right: 25px;
    line-height: 54px;
}

.a{
    margin-top: 10px;
}